{% extends "base.html" %}

{% block content %}
<div class="container auth-container border rounded-3 mt-5 pt-2 pb-3 px-2 px-sm-4">
  {% for category, trans_key in get_flashed_messages(with_categories=true, category_filter=("danger")) %}
  <div class="alert alert-{{ category }} alert-dismissible d-flex align-items-center column-gap-2 fade show mt-2"
    role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
      stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
      <path d="M12 8v4"></path>
      <path d="M12 16h.01"></path>
    </svg>
    <span data-translate="{{ trans_key }}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  <p class="d-flex align-items-center justify-content-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="auth-cloud" viewBox="0 0 24 24" stroke-width="2"
      stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M10.04 4.305c2.195 -.667 4.615 -.224 6.36 1.176c1.386 1.108 2.188 2.686 2.252 4.34l.003 .212l.091 .003c2.3 .107 4.143 1.961 4.25 4.27l.004 .211c0 2.407 -1.885 4.372 -4.255 4.482l-.21 .005h-11.878l-.222 -.008c-2.94 -.11 -5.317 -2.399 -5.43 -5.263l-.005 -.216c0 -2.747 2.08 -5.01 4.784 -5.417l.114 -.016l.07 -.181c.663 -1.62 2.056 -2.906 3.829 -3.518l.244 -.08z"
        stroke-width="0" fill="currentColor"></path>
    </svg>
    <span class="fs-1">Localdrive</span>
  </p>
  
  {% block auth_content %}
  {% endblock %}
</div>
{% endblock %}